*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/build-llama
/obj
local.properties
*.apk
*.aab
*.jks
*.keystoregradle/gradle-daemon-jvm.properties
